* {
    font-family: 'Roboto';
    box-sizing: border-box; 
}
body {
    background-color: #e5e8f0;
}
.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
}
.content h1 {
    margin: 0;
} 
@media screen and (min-width: 992px) {
    .content {
        margin: 1rem auto;
        max-width: 992px;
        height: auto;
        border-radius: 1rem ;
    }
}
